body {
    font-family: "Montserrat", sans-serif;
    color: var(--text-main);
}

.shadowBackground{
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
    z-index: 100;
}

.checkbox{
    position: relative;
    z-index: 1000;
    background: var(--bg-card);
    border: 2px solid var(--border-default);
    border-radius: 1rem;
    width: 40%;
    max-width: 520px;
    padding: 2.5rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    text-align: center;
    align-items: center;
}

.checkbox form {
  width: 100%;
}

h4 {
    font-size: 1.5rem;
}
/* input {
  all: unset;

  width: 100%;
  box-sizing: border-box;

  padding: 0.75rem 1rem;

  font-size: 1.1rem;
  font-family: inherit;
  color: var(--text-main);

  background: var(--bg-card);
  border: 2px solid var(--color-border-subtle);
  border-radius: 10px;

  transition:
    border-color 0.2s ease,
    box-shadow 0.2s ease,
    transform 0.2s ease;
} */

/* input:focus {
  border-color: var(--accent-main);
  box-shadow: 0 0 0 3px rgba(120, 160, 255, 0.25);
  transform: translateY(-1px);
} */

.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
.actions button {
    all: unset;
    cursor: pointer;
    user-select: none;
    border: 2px solid var(--bg-hover);
    border-radius: 8px;
    padding: 0.5rem 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease, color 0.2s ease;
}
.actions .discard {
    color: var(--danger);
}
.discard:hover{
    background: var(--danger);
    transform: translateY(-4px);
    color:#fff;
    transition: 0.2s ease;
}
.discard:focus-visible{
    outline: 2px solid var(--danger);
    background: var(--bg-hover);
    color: #fff;
}
.confirm:hover {
    background: var(--bg-hover);
    color: #fff;
    transition: 0.2s ease;
    transform: translateY(-4px);
}
.confirm:focus-visible {
    background: var(--bg-hover);
    transform: translateY(-4px);
    color: #fff;
    transition: 0.2s ease;
}