.shadowBackground {
    position: relative;
    z-index: 10;
    background: rgba(0, 0, 0, 0.3);

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.trackListWrapper {
    position: absolute;
    z-index: 100;
    width: 60%;
    height: 50%;
    background: var(--bg-card);
    border-radius: 12px;
    padding: 2rem;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.trackListWrapper h3{
    border-bottom: 1px solid var(--text-muted);
}
.trackListWrapper:hover {
    
    scrollbar-color: var(--accent-main) transparent;
}

.trackList {
    margin: 0.5rem;
}
.listItem {
    display: flex;
    align-items: center;
    border: 2px solid var(--bg-hover);
    border-radius: 14px;
    padding: 0.5rem;
}
.listItem img {
    border-radius: 4px;
}
.listItem p{
    padding-left: 1rem;
}
.listItem:hover {
    background: var(--bg-hover);
}


