@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
    /* Brand */
    --color-brand-primary: #1ED760;

    --color-brand-emerald: #19C879;
    --color-emerald-hover: #16B870;

    /* Backgrounds */
    --color-bg-main: #F4F4F4;
    --color-bg-surface: #ffffff;
    --color-bg-elevated: ;

    /* Text */
    --color-text-primary: #1f2937;
    --color-text-secondary:#6A6A6A;
    --color-text-disabled:#B3B3B3;

    /* border */
    --color-border-subtle: #2A2A2A;

    /* buttons */
    --color-button-background: #242424;

    /* danger color */
    --danger: #C94848;;

    /* warning */
    --warning: #eab308;


    --bg-app: var(--color-bg-main);
    --bg-card: var(--color-bg-surface);
    --bg-hover: var(--color-bg-elevated);

    --text-main: var(--color-text-primary);
    --text-muted: var(--color-text-secondary);
    --text-disabled: var(--color-text-disabled);

    --accent-main: var(--color-brand-primary);

    --border-default: var(--color-border-subtle);

    --color-emerald: var(--color-brand-emerald);

    --button-background: var(--color-button-background);

}