body {
    background: #191414;
    font-family: "Montserrat", Poppins, serif;
}

.welcome-text {
    color: #FFFFFF;
}

.welcome-text h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    animation: fadeIn 1s ease-out forwards;

}

.welcome-text p {

}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px)
    }
    to {
        opacity: 1;
        transform: translateY(0px)
    }
}